# Schema ER

In [17]:
![](Screenshot 2024-05-06 095044.png)

"[]" non Š riconosciuto come comando interno o esterno,
 un programma eseguibile o un file batch.

In [136]:
# Importazione delle librerie

In [18]:
import pandas as pd
import numpy as np

# Data Cleaning

In [139]:
#Lettura dei datasets

In [19]:
flight = pd.read_csv("flight data.csv")

In [20]:
flight

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD,1320000.0,1320000.0,0%,2022-04-29 17:52:59
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1279.0,USD,1195000.0,1320000.0,-9%,2022-04-29 17:52:59
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855|AF1855|AF1855|AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,1530,3,1284.0,USD,1248000.0,1320000.0,-5%,2022-04-29 17:52:59
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1491|AF1491|AF1491|AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,1425,3,1290.0,USD,1347000.0,1320000.0,2%,2022-04-29 17:52:59
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,multi,[Lufthansa| LATAM],LH1317|LH1317|LH1317,2022-04-30 12:35:00,2022-05-01 10:15:00,1540,2,1347.0,USD,1381000.0,1320000.0,4%,2022-04-29 17:52:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998861,BOM,India,SYD,Australia,Boeing 777|Airbus A380,EK,[Emirates],EK503|EK503,2022-05-01 19:20:00,2022-05-02 22:05:00,1335,1,1317.0,USD,1567000.0,1133000.0,38%,2022-04-29 17:52:59
998862,BOM,India,SYD,Australia,Boeing 777|Airbus A380,EK,[Emirates],EK509|EK509,2022-05-01 22:20:00,2022-05-02 22:05:00,1155,1,1317.0,USD,1583000.0,1133000.0,39%,2022-04-29 17:52:59
998863,BOM,India,SYD,Australia,Airbus A350|Boeing 787|Boeing 737,multi,[Etihad| Virgin Australia],EY205|EY205|EY205,2022-05-01 04:35:00,2022-05-02 09:55:00,1490,2,1328.0,USD,1354000.0,1133000.0,19%,2022-04-29 17:52:59
998864,BOM,India,SYD,Australia,Airbus A321 (Sharklets)|Airbus A321|Airbus A330,multi,[Air India| SriLankan],AI603|AI603|AI603,2022-05-01 06:10:00,2022-05-02 14:55:00,1695,2,1368.0,USD,1099000.0,1133000.0,-2%,2022-04-29 17:52:59
998865,BOM,India,SYD,Australia,Airbus A321 (Sharklets)|Airbus A321|Airbus A330,multi,[Air India| SriLankan],AI639|AI639|AI639,2022-05-01 09:30:00,2022-05-02 14:55:00,1495,2,1368.0,USD,1099000.0,1133000.0,-2%,2022-04-29 17:52:59

In [21]:
flight.shape

(998866, 18)

In [22]:
flight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998866 entries, 0 to 998865
Data columns (total 18 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   from_airport_code                998866 non-null  object
 1   from_country                     998866 non-null  object
 2   dest_airport_code                998866 non-null  object
 3   dest_country                     998866 non-null  object
 4   aircraft_type                    984952 non-null  object
 5   airline_number                   998866 non-null  object
 6   airline_name                     998866 non-null  object
 7   flight_number                    998866 non-null  object
 8   departure_time                   998866 non-null  object
 9   arrival_time                     998866 non-null  object
 10  duration                         998866 non-null  int64
 11  stops                            998866 non-null  int64
 12  price                            997513 non-null  float64
 13  currency                         998866 non-null  object
 14  co2_emissions                    993998 non-null  float64
 15  avg_co2_emission_for_this_route  910464 non-null  float64
 16  co2_percentage                   910464 non-null  object
 17  scan_date                        998866 non-null  object
dtypes: float64(3), int64(2), object(13)
memory usage: 137.2+ MB

In [23]:
flight.isnull().sum()

from_airport_code                      0
from_country                           0
dest_airport_code                      0
dest_country                           0
aircraft_type                      13914
airline_number                         0
airline_name                           0
flight_number                          0
departure_time                         0
arrival_time                           0
duration                               0
stops                                  0
price                               1353
currency                               0
co2_emissions                       4868
avg_co2_emission_for_this_route    88402
co2_percentage                     88402
scan_date                              0
dtype: int64

In [24]:
flight.duplicated().unique()

array([False,  True])

In [25]:
flight.drop(['scan_date', 'currency', 'duration'], axis = 1, inplace = True)

In [27]:
flight.dropna(subset=['price', 'aircraft_type'],inplace = True)

In [28]:
flight.shape

(983599, 15)

In [29]:
flight.isnull().sum()

from_airport_code                      0
from_country                           0
dest_airport_code                      0
dest_country                           0
aircraft_type                          0
airline_number                         0
airline_name                           0
flight_number                          0
departure_time                         0
arrival_time                           0
stops                                  0
price                                  0
co2_emissions                       4078
avg_co2_emission_for_this_route    87537
co2_percentage                     87537
dtype: int64

In [30]:
flight['flight_number'] = flight['flight_number'].apply(lambda x : x.split("|")[0])

In [31]:
flight['flight_number']

0         AF1491
1         AF1491
2         AF1855
3         AF1491
4         LH1317
           ...
998861     EK503
998862     EK509
998863     EY205
998864     AI603
998865     AI639
Name: flight_number, Length: 983599, dtype: object

In [146]:
flight.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 892539 entries, 0 to 998865
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   codice_aereoporto_di_partenza  892539 non-null  object
 1   paese_di_partenza              892539 non-null  object
 2   codice_aereoporto_di_arrivo    892539 non-null  object
 3   paese_di_arrivo                892539 non-null  object
 4   modello_aereo                  892539 non-null  object
 5   numero_di_compagnie            892539 non-null  object
 6   nome_compagnia                 892539 non-null  object
 7   codice_volo                    892539 non-null  object
 8   ora_partenza                   892539 non-null  datetime64[ns]
 9   ora_arrivo                     892539 non-null  datetime64[ns]
 10  num_scali                      892539 non-null  int64
 11  prezzo                         892539 non-null  float64
 12  emissioni_di_co2               892539 non-null  float64
 13  media_co2_percorso             892539 non-null  float64
 14  percentuale_co2                892539 non-null  int32
 15  durata                         892539 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(3), int32(1), int64(1), object(8), timedelta64[ns](1)
memory usage: 112.4+ MB

In [32]:
flight['departure_time'] = pd.to_datetime(flight['departure_time'])
flight['arrival_time'] = pd.to_datetime(flight['arrival_time'])

In [33]:
flight['co2_percentage'] = flight['co2_percentage'].str[:-1]

In [34]:
flight.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 983599 entries, 0 to 998865
Data columns (total 15 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   from_airport_code                983599 non-null  object
 1   from_country                     983599 non-null  object
 2   dest_airport_code                983599 non-null  object
 3   dest_country                     983599 non-null  object
 4   aircraft_type                    983599 non-null  object
 5   airline_number                   983599 non-null  object
 6   airline_name                     983599 non-null  object
 7   flight_number                    983599 non-null  object
 8   departure_time                   983599 non-null  datetime64[ns]
 9   arrival_time                     983599 non-null  datetime64[ns]
 10  stops                            983599 non-null  int64
 11  price                            983599 non-null  float64
 12  co2_emissions                    979521 non-null  float64
 13  avg_co2_emission_for_this_route  896062 non-null  float64
 14  co2_percentage                   896062 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(9)
memory usage: 120.1+ MB

In [35]:
flight['duration'] = flight['arrival_time'] - flight['departure_time']

In [36]:
#flight['co2_percentage'] = flight['co2_percentage'].astype(str).astype(int)

ValueError: invalid literal for int() with base 10: 'nan'

In [37]:
flight.head(3)

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,stops,price,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,duration
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,3,1279.0,1320000.0,1320000.0,0,0 days 19:45:00
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,3,1279.0,1195000.0,1320000.0,-9,0 days 19:45:00
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855,2022-04-30 12:45:00,2022-05-01 10:15:00,3,1284.0,1248000.0,1320000.0,-5,0 days 21:30:00

In [38]:
 flight.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 983599 entries, 0 to 998865
Data columns (total 16 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   from_airport_code                983599 non-null  object
 1   from_country                     983599 non-null  object
 2   dest_airport_code                983599 non-null  object
 3   dest_country                     983599 non-null  object
 4   aircraft_type                    983599 non-null  object
 5   airline_number                   983599 non-null  object
 6   airline_name                     983599 non-null  object
 7   flight_number                    983599 non-null  object
 8   departure_time                   983599 non-null  datetime64[ns]
 9   arrival_time                     983599 non-null  datetime64[ns]
 10  stops                            983599 non-null  int64
 11  price                            983599 non-null  float64
 12  co2_emissions                    979521 non-null  float64
 13  avg_co2_emission_for_this_route  896062 non-null  float64
 14  co2_percentage                   896062 non-null  object
 15  duration                         983599 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(3), int64(1), object(9), timedelta64[ns](1)
memory usage: 127.6+ MB

In [39]:
def f(x):
    if x != "multi":
        x = "singolo"
    return x
flight['airline_number'] = flight['airline_number'].apply(f)

In [40]:
flight['airline_number'].unique()

array(['multi', 'singolo'], dtype=object)

In [41]:
flight.set_axis(['codice_aereoporto_di_partenza', 'paese_di_partenza', 'codice_aereoporto_di_arrivo', 'paese_di_arrivo', \
            'modello_aereo', 'numero_di_compagnie', 'nome_compagnia', 'codice_volo', 'ora_partenza', 'ora_arrivo', \
            'num_scali', 'prezzo', 'emissioni_di_co2', 'media_co2_percorso', 'percentuale_co2', 'durata'], axis = "columns", inplace = True)

In [42]:
flight.head(1)

,codice_aereoporto_di_partenza,paese_di_partenza,codice_aereoporto_di_arrivo,paese_di_arrivo,modello_aereo,numero_di_compagnie,nome_compagnia,codice_volo,ora_partenza,ora_arrivo,num_scali,prezzo,emissioni_di_co2,media_co2_percorso,percentuale_co2,durata
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491,2022-04-30 14:30:00,2022-05-01 10:15:00,3,1279.0,1320000.0,1320000.0,0,0 days 19:45:00

In [71]:
def converti_data(data):
    if data == 4:
        return "Aprile"
    elif data == 5:
        return "Maggio"
    elif data == 6:
        return "Giugno"
    elif data == 7:
        return "Luglio"
    else:
        return "Agosto"

In [72]:
flight['Mese'] = flight['mese'].apply(converti_data)

In [73]:
flight.head()

,codice_aereoporto_di_partenza,paese_di_partenza,codice_aereoporto_di_arrivo,paese_di_arrivo,modello_aereo,numero_di_compagnie,nome_compagnia,codice_volo,ora_partenza,ora_arrivo,num_scali,prezzo,emissioni_di_co2,media_co2_percorso,percentuale_co2,durata,mese,Mese
0,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Airbus A330|Airbu...,multi,[Air France| Iberia| LATAM],AF1491,2022-04-30 14:30:00,2022-maggio-01,3,1279.0,1320000.0,1320000.0,0,0 days 19:45:00,5,Maggio
1,ALG,Algeria,AEP,Argentina,Airbus A318|Canadair RJ 1000|Boeing 787|Airbus...,multi,[Air France| Iberia| LATAM],AF1491,2022-04-30 14:30:00,2022-maggio-01,3,1279.0,1195000.0,1320000.0,-9,0 days 19:45:00,5,Maggio
2,ALG,Algeria,AEP,Argentina,Airbus A320|Airbus A321|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1855,2022-04-30 12:45:00,2022-maggio-01,3,1284.0,1248000.0,1320000.0,-5,0 days 21:30:00,5,Maggio
3,ALG,Algeria,AEP,Argentina,Airbus A318|Airbus A320|Boeing 787|Airbus A320,multi,[Air France| LATAM],AF1491,2022-04-30 14:30:00,2022-maggio-01,3,1290.0,1347000.0,1320000.0,2,0 days 19:45:00,5,Maggio
4,ALG,Algeria,AEP,Argentina,Airbus A321neo|Boeing 777|Airbus A320,multi,[Lufthansa| LATAM],LH1317,2022-04-30 12:35:00,2022-maggio-01,2,1347.0,1381000.0,1320000.0,4,0 days 21:40:00,5,Maggio

In [74]:
flight['Mese'].unique()

array(['Maggio', 'Giugno', 'Luglio', 'Agosto', 'Aprile'], dtype=object)

In [76]:
flight.duplicated().sum()

51166

In [77]:
flight.drop_duplicates(inplace = True)

In [78]:
flight.duplicated().sum()

0

In [79]:
import seaborn as sns

In [81]:
lista = flight['nome_compagnia'].to_list()

df_airline = pd.read_csv('airlines_final.csv')
df_airline.drop_duplicates()
lista_compagnie = df_airline['Name'].to_list()
diz_compagnie = {elem[1]: elem[0] for elem in enumerate(lista_compagnie)}

lista2 = []
for elem in lista:
    lista2.append(elem.replace('[', '').replace(']', '').split('| '))

lista_id = []
for elem in enumerate(lista2, start=1):
    for i in range(len(elem[1])):
        lista_id.append([elem[0], elem[1][i]])

df_da_esportare = pd.DataFrame(lista_id)

df_da_esportare[1] = df_da_esportare[1].map(diz_compagnie)
print(df_da_esportare.isnull().sum())

df_da_esportare.to_csv('df_da_esportare.csv')

0         0
1    108788
dtype: int64