In [ ]:
import numpy as np
import pandas as pd
from unidecode import unidecode

from funzioni import *

# create_database_query = 'CREATE DATABASE jetair'
# drop_database_query = 'DROP DATABASE IF EXISTS jetair'

connessione = create_server_connection('localhost', 'root', 'Gondoliere01_')

# drop_database(connessione, drop_database_query)
#
# create_database(connessione, create_database_query)

connessione_db = create_db_connection('localhost', 'root', 'Gondoliere01_', 'jetair')

create_flight_data = '''
CREATE TABLE flight_data(
    id INT PRIMARY KEY AUTO_INCREMENT,
    codice_aereoporto_di_partenza CHAR(10) NOT NULL,
    paese_di_partenza VARCHAR(80),
    codice_aereoporto_di_arrivo CHAR(6) NOT NULL,
    paese_di_arrivo VARCHAR(100),
    modello_aereo VARCHAR(150),
    numero_di_compagnie VARCHAR(10),
    nome_compagnia VARCHAR(120),
    codice_volo CHAR(6),
    ora_partenza VARCHAR(255),
    ora_arrivo VARCHAR(255),
    num_scali CHAR(3),
    prezzo VARCHAR(255),
    emissioni_di_co2 VARCHAR(255),
    media_co2_percorso VARCHAR(255),
    percentuale_co2 VARCHAR(255),
    durata VARCHAR(80),
    mese VARCHAR(15),
    Mese_str VARCHAR(15)
    );
    '''

create_airlines = '''
CREATE TABLE airlines(
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100),
    country VARCHAR(100)
    );
    '''

create_airports = '''
CREATE TABLE airports (
    id INT PRIMARY KEY AUTO_INCREMENT,
    airport_code VARCHAR(10) NOT NULL,
    airport_name VARCHAR(100) NOT NULL,
    city_name VARCHAR(100) NOT NULL,
    country_name VARCHAR(100) NOT NULL,
    country_code CHAR(3),
    latitude INT,
    longitude INT
    );
    '''

create_fk_flight_data_airlines = '''
CREATE TABLE flight_data_airlines(
    airlines_flight_data INT,
    airlines_airlines INT,
    PRIMARY KEY (airlines_flight_data, airlines_airlines),
    FOREIGN KEY (airlines_flight_data) REFERENCES flight_data(id) ON DELETE RESTRICT,
    FOREIGN KEY (airlines_airlines) REFERENCES airlines(id) ON DELETE RESTRICT
    );
    '''

# execute_query(connessione_db, create_flight_data)
# execute_query(connessione_db, create_airlines)
# execute_query(connessione_db, create_airports)
execute_query(connessione_db, create_fk_flight_data_airlines)
# execute_query(connessione_db, )


q1 = f'INSERT INTO airports (airport_code, airport_name, city_name, country_name, country_code, latitude, longitude) VALUES (%s, %s, %s, %s, %s, %s, %s)'
q2 = f'INSERT INTO airlines(name, country) VALUES (%s, %s)'
q3 = (f'INSERT INTO flight_data(codice_aereoporto_di_partenza,paese_di_partenza,codice_aereoporto_di_arrivo,paese_di_arrivo,modello_aereo,'
      f'numero_di_compagnie,nome_compagnia,codice_volo,ora_partenza,ora_arrivo,num_scali,prezzo,emissioni_di_co2,media_co2_percorso,percentuale_co2,durata,mese,Mese_str)'
      f'VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)')
q4 = f'INSERT INTO flight_data_airlines(airlines_flight_data, airlines_airlines) VALUES (%s, %s)'


# df_airports = pd.read_csv('../csv_puliti/airports-code2_final.csv')
# df_airports.pop('Unnamed: 0')
# df_airports.pop('coordinates')
# df_airports = df_airports.replace({np.nan: None})
#
# df_airlines = pd.read_csv('../csv_puliti/airlines_final.csv')
# print(df_airlines.dtypes)
# df_airlines.pop('Unnamed: 0')
# df_airlines = df_airlines.replace({np.nan: None})

# df_flight_data = pd.read_csv('../csv_puliti/flight_data_final.csv')
# df_flight_data.pop('Unnamed: 0')
# df_flight_data = df_flight_data.replace({np.nan: None})
#
# df_flight_data['num_scali'] = df_flight_data['num_scali'].astype(str)
# df_flight_data['mese'] = df_flight_data['mese'].astype(str)
# df_flight_data = df_flight_data.astype(str)
# print(df_flight_data.dtypes)

df_air_fli_d = pd.read_csv('../csv_puliti/df_da_esportare_final.csv')
df_air_fli_d = df_air_fli_d.astype(str)
df_air_fli_d.pop('Unnamed: 0')
df_air_fli_d.drop_duplicates(inplace=True)

# caricamento_dataframe(connessione_db, q1, df_airports)
# caricamento_dataframe(connessione_db, q2, df_airlines)
# caricamento_dataframe(connessione_db, q3, df_flight_data)
caricamento_dataframe(connessione_db, q4, df_air_fli_d)